#indexface{
    height: 300px;
    background-image: url("AllImages/maple leaf drop.gif");
    background-repeat: no-repeat;
    background-size:100%;
}
#btn1{
    height: 60px;
    width: 120px;
    margin-top: 300px;
    margin-left: 46%;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
}

.a{
    text-decoration: none;
    color: black;
}

#mainheading{
    float:right;
    font-family: 'Lucida Handwriting';
    margin-right: 150px;
}
#hh1{
    text-decoration: brown;
    color: rgb(255, 239, 219);
    float: right;
}
#hh2{
    margin-top: 0.1px;
    color: rgba(252, 252, 252, 0.884);
    float: right;
}

.btn-choice{
    border-radius: 20px 10px;
    float: left;
    padding-left: 5px;
    margin-left: 40px;
    height: 40px;
    width: 100px;
    background-color: rgba(255, 235, 235, 0.979);
}



/* Search Bar Container */
#travel-search-container {
    text-align: center;
    margin-top: 100px; 
    padding: 20px;
    width: 100%;
    padding-left: 100px;
	padding-rigt: 100px;
}

/* Question Style */
#search-question {
	margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 25px;
    margin-bottom: 35px;
}

/* Search Box */
.travelsearch {
	
    display: inline-flex;
    
    align-items: center;
    width:800px;
    padding: 10px;
    
}

#dname {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width:600px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#travel-search-button {
    background: #fd8144;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    width:150px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px; /* Space between search input and button */
}

#travel-search-button:hover {
    background: #ff8000;
}
.result h1{
	font-family: 'Parisienne', cursive;
	text-align: center;
}
#res{
	display: inline-flex;
	margin-top: 50px;
	background-color : rgb(234, 192, 168);
	padding-top: 20px;
	padding-bottom : 20px;
}
.desti-info{
	width: 600px;
	text-align: center;
}
.desti-img-box{
	float: right;
	width:350px;
}
.desti-img{
	border-radius: 30px;
}





    /* background-color(rgba(77, 27, 27, 0.63)); */
    


















/* .img img{
    margin-left: 100px;
    
    width: 250px;
}
.img img:hover{
    border-radius: 20px;
}
#divtaj{
    position: relative;
    overflow: hidden;
    display: inline-flex;
    margin-top: 100px;
}

#imgtaj{
    position: absolute;
    left: -350px;
    height: 200px;
    width: 250px;
    display: inline-block;
    
}
.dis{
    float: right;
    margin-left: 100px;
    margin-right: 100px;
}
.dis h3{
    font-family: 'Allura', cursive;
    font-size: 70px;
    /* font-family:  'Pacifico', cursive; */

.dis p{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Playfair Display', serif; */
}
#divgoa{
    position: relative;
    display: inline-flex;
    margin-top: 100px;
}
#goadis{
    margin-left: 100px;
}
.img #imggoa{
    position: absolute;
    margin-right: 100px;
    right: -350px;
}
#goadis h3{
    font-family: 'Allura', cursive;
    font-size: 70px;
}
#goadis p{
    font-family: 'Quicksand', sans-serif;
} */
#service{
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 100px;
}
.serv{
    height: 200px;
    width: 160px;
    margin-left: 30px;
    display: inline-flex;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.884);
    text-align: center;
}

#footer{
    margin-top: 200px;
    background-color: rgb(236, 175, 125);
    height: 200px;

}
.head h1{
    margin-top: 70px;
    margin-top: 100px;
    font-family: 'Parisienne', cursive;
}
#footer p{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Quicksand', sans-serif;
}



@media (max-width: 600px){
    #mainheading{
        margin-right: 20px;
    }
    #hh1{
        font-size: xx-large;
    }
    #hh2{
        font-size: medium;
    }
}


@media (min-width: 600px) and (max-width: 1200px){
        #mainheading{
            margin-right: 10px;
        }
        #hh1{
            font-size: 40px;
        }
        #hh2{
            font-size: 25px;
        }
}


@media (min-width: 1200px){
    #mainheading{
        margin-right: 20px;
    }
}
